body {
	background: linear-gradient(-45deg, #141414, #302b2d, #d82020, #cf1764);
	background-size: 600% 600%;
	width: auto;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  


.txt-titre {
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
	padding-top: 180px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	border: 1px solid;
	border-color: #d4aeff;

}

.test{

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	border: 1px solid;
	border-color: #d4aeff;
	justify-content: left;
	display: flex;
	font-size: 20px;


}

.vide{
	padding-top: 20px;
}

.competenceprojetparcours{
	display: flex;
	display: row;
}


.txt-accueil {
	color: white;
	font-size: 25px;
	display: flex;
    justify-content: right;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	height: auto;
	padding-bottom: 60px;
	padding-left: 30px;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid;
	border-color: #d4aeff;
	
	

}


.time{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 48px;
	
	
}







p {
	color: white;
	font-size: 25px;
    justify-content: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	margin-left: 20px;
	
	

}


.image-moi{

	display: flex;
    justify-content: left;
	height: 300px;
	width: 300px;
	padding-bottom: 60px;
	padding-top: 20px;


}

div {
    width: auto;
    height: 120px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
}
.flex2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	top: 300px;
	position: relative;
}


footer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:20px;
}


